body{
    justify-content: center;
        background-image: linear-gradient(#737DFE, #FFCAC9);
}
label {
    display: block;
    font:
      1rem 'Fira Sans',
      sans-serif;
  }
  
  input,
  label {
    margin: 0.4rem 0;
  }
.main-page{
    justify-content: center;
    text-align: center;
}

.col, .row{
    padding: 150px;
}

.container{
    margin-bottom: 6mx-auto0px;
}

.left, .right{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  .left{
    margin-right: 25px;
  }
  .right{
    margin-left: 25px;
  }
